:root {
  --background-color: #141414;
  --list-nav-back-color: rgba(20, 20, 20, 0.61);
  --header-back-color: #101010;
  --p-color:white;
  --logo-color:white;
  --btn-color:white;
  --title-color:white;
  --text-color:white;
  --post-title-color:#141414;
  --quote-color:#141414;
  --post-line-top:linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(41,41,41,0.5) 44%, rgba(25,25,25,.5) 100%);
  --post-line-bot:linear-gradient(277deg, rgba(2,0,36,0) 0%, rgba(41,41,41,0.5) 44%, rgba(25,25,25,.5) 100%);
}
